<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:insert="~{includes/library}"> </th:block>
  <th:block th:insert="~{includes/scripts}"> </th:block>
  <h1>User DATA</h1>
</head>
<body>
<!--<table>-->
<!--  <tr th:each="result : ${results}">-->
<!--    <td th:text="${result?.get('user_email')}"></td>-->
<!--    <td th:text="${result?.get('user_nick')}"></td>-->
<!--  </tr>-->
<!--</table>-->
-----------------------------------------<br>
<button id="DataBtn">DATA SEND</button>
<!--<table>-->
<!--  <tr th:each="item : ${results}">-->
<!--    <div th:text="${item.user_email}"></div>-->
<!--    <div th:text="${result.user_nick}"></div>-->
<!--  </tr>-->
<!--</table>-->
</body>
</html>