<script src="/user/js/main.js" type="text/javascript"></script>
<script src="/user/js/test.js" type="text/javascript"></script>
<script src="/user/js/emailChk.js" type="text/javascript"></script>
<script src="/user/js/nicknameChk.js" type="text/javascript"></script>
<script src="/user/js/pwdChk.js" type="text/javascript"></script>
<script src="/user/js/signUp.js" type="text/javascript"></script>
<script src="/user/js/checkbox.js" type="text/javascript"></script>
<script defer src="user/js/main.js"></script>
